body {
    margin: 0;
}

/*--------INSTRUCTIONS SCREEN-----------*/
.instructions {
    text-align: center;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -450px;
    width: 900px;
    height: 700px;
    color: white;
    z-index: 5;
}

.instructionsList {
    text-align: left;
    width: 60%;
    margin: 30px auto;
}

input {
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin: 0 50px;
}

.start {
    height: 54px;
    width: 150px;
    font-size: 33px;
    margin-top: 20px;
    border-radius: 5%;
    background-color: white;
}


/*-----LETTER VALUES BOX-------*/
.letterValuesBox {
    display: flex;
    align-items: center;
    position: absolute;
    right: -150px;
    width: 200px;
    height: 500px;
    background-color: beige;
    color: brown;
    top: 50%;
    margin-top: -250px;
}

.tab {
    width: 50px;
    height: 65px;
    background-color: grey;
    border-radius: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid black;
    z-index: 3;
}

hr {
    border: 1px solid black;
    width: 70%;
}

.letterValues {
    height: 500px;
    width: 150px;
    background-color: beige;
    border: 1px solid black;
    z-index: 3;
}

.slideLeft {
    animation: moveLeft 2s;
    animation-fill-mode: forwards
}

.slideRight {
    animation: moveRight 2s;
    animation-fill-mode: forwards
}


/*------MAIN GAME SCREEN--------*/

.container {
    background-color: beige;
    /*height: 100vh;*/
}

.title {
    text-align: center;
    font-size: 60px
}

.textBox {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

.playerScoreBox {
    left: 20px;
    top: 0;
}

.serverMessagesBox {
    right: 20px;
    top: 0;
}

.remainingTilesBox {
    left: 20px;
    top: 50%;
}

h3 {
    font-size: 15px;
    margin: 0;
}


/*----------GAME BOARD-----------*/
.row {
    position: relative;
    width: 780px;
    margin: 0 auto;
}

.box {
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    font-size: 35px;
}

.W3 {
    background-color: red;
}

.W2 {
    background-color: pink;
}

.L3 {
    background-color: darkblue;
}

.L2 {
    background-color: lightblue;
}

.playerDisplayScore,
.opponentDisplayScore,
.remainingTiles {
    font-size: 35px;
    text-align: center;
    margin: 5px;
}

/*----------TILE RACKS-----------*/

.playerTiles {
    padding: 20px 0px;
    display: show;
}

.playerTile,
.permInPlay,
.tempInPlay {
    background-image: url("./tile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.playerTilesRow {
    clear: both;
    position: relative;
    top: 5px;
    width: 370px;
    margin: 20px auto;
}

.tileBox {
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    font-size: 35px;
}

#buttonsRow {
    padding: 40px 10px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#serverMessages {
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 800px;
    overflow: auto;
    text-align: left;
    float: right;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
}

.selected {
    border-color: red;
}

.emptyRackSpace {
    background-color: gray;
    background-image: none;
}


/*-----------BUTTONS-----------*/

.button {
    position: relative;
    background-color: white;
    top: 3px;
    left: 10px;
    clear: both;
    height: 36px;
    width: 100px;
    font-size: 12px;
    border-radius: 5%;
}


/*---------KEYFRAMES---------*/
@keyframes moveLeft {
    from {
        right: -150px;
    }
    to {
        right: 0;
    }
}

@keyframes moveRight {
    from {
        right: 0;
    }
    to {
        right: -150px;
    }
}


/*-------MEDIA QUERIES----------*/
@media (max-width: 800px) {
    .instructionsList {
        text-align: left;
        width: 40%;
        margin: 30px auto;
        font-size: 12px;
    }

    input {
        height: 25px;
        width: 100px;
        font-size: 15px;
        margin: 0 50px;
    }
    .row {
        width: 750px;
    }
    .playerTilesRow {
        width: 224px;
	padding: 20px 0px;
    }
    .button {
        height: 18px;
        width: 50px;
        font-size: 8px;
        top: 5px;
    }
    .box,
    .tileBox {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
    .title {
        font-size: 40px;
    }
    h3 {
        font-size: 10px;
    }
    .playerScoreBox {
        left: 0;
        top: 0;
    }
    .serverMessagesBox {
        right: 0;
        top: 0;
    }
    .remainingTilesBox {
        top: 70%;
    }
    .playerDisplayScore,
    .opponentDisplayScore,
    .remainingTiles {
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
}
